data/raw/nyc-yellow-taxi-trip-2016.csv filter=lfs diff=lfs merge=lfs -text
data/processed/test.csv filter=lfs diff=lfs merge=lfs -text
data/processed/train.csv filter=lfs diff=lfs merge=lfs -text
data/processed/train_large.csv filter=lfs diff=lfs merge=lfs -text
data/processed/validation.csv filter=lfs diff=lfs merge=lfs -text
data/interim/nyc-taxi-trip-2016-remove-outliers.csv filter=lfs diff=lfs merge=lfs -text
data/interim/nyc-taxi-trip-2016-new-features.csv filter=lfs diff=lfs merge=lfs -text
